#contact-area {
    padding-block: var(--section-padding);
    font-family: var(--rubik);
    background-color: var(--bg-color);
}

.form {
    box-shadow: var(--box-shadow-1);
    background-color: var(--white);
    padding: 20px;
}
#contact-area h2{
    text-align: center;
}
.form form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

form input,
textarea {
    height: 35px;
    padding: 3px 10px;
    border-bottom: 1px solid var(--border-color);
    transition: var(--transition-1);
    cursor: pointer;
}

form input:hover,
textarea:hover,
textarea:focus,
form input:focus {
    border-color: var(--orange);
}

textarea:focus-visible {
    outline: none !important;
}

.form form button {
    background: var(--main-color);
    color: var(--white);
    border-radius: var(--border-radius);
    padding: 5px 40px;
    font-weight: 600;
    transition: var(--transition-1);
    margin-top: 20px;
}

.form form button:hover {
    background-color: var(--orange);
    color: var(--main-color);
}

textarea {
    height: 160px;
    width: 100%;
}
#contact-area .contact-information{
    box-shadow: var(--box-shadow-1);
    background-color: var(--white);
    padding: 20px;
}

.contact-information .contact-info-area .contact,
.contact-information  p,
.contact-information .social-links {
    padding: 10px;
}
.contact-information .contact-info-area .contact li{
    padding: 10px 0;
    color: var(--main-color);
}
.contact-information h6{
    padding: 3px 10px;
}
.contact-information .contact-info-area .contact li a{
    margin-left: 10px;
    color: var(--main-color);
    transition: var(--transition-1);
}
.contact-information .contact-info-area .contact li:hover a{
    color: var(--orange);
}
.contact-information .social-links li i {
    color: var(--main-color);
    cursor: pointer;
    transition: var(--transition-1);
}
@media (max-width:576px) {

    .form form input,
    textarea {
        width: 100%;

    }
}