header {
    padding: 15px 0;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

.logo {
    width: 100px;
}

.header-area {
    align-items: center !important;
}

.navbar-area ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-area ul li {
    position: relative;
    margin-right: 60px;
}

.menu-side ul li a,
.menu-side ul li span,
.menu-side ul li i {
    color: var(--black);
    opacity: .7;
    transition: var(--transition-1);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

.menu-side ul li {
    border-bottom: 1px solid var(--border-color);
}

header nav ul li a,
header nav ul li span,
header nav ul li i {
    color: var(--white);
    opacity: .7;
    transition: var(--transition-1);
    cursor: pointer;
}

header ul li:hover a {
    color: var(--orange);
    opacity: 1;
}

.active-nav {
    color: var(--orange) !important;
    opacity: 1 !important;
}

a:hover {
    text-decoration: none !important;
}

.menu .dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: var(--fs-8);
    left: -2rem;
    background-color: var(--white);
    width: var(--fs-12);
    transition: var(--transition-1);
    font-family: var(--rubik);
    z-index: 2;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-1);
}

.menu .dropdown ul {
    display: block;
    margin: 0;
    padding: 0;
}

.menu .dropdown ul li {
    border-bottom: 1px solid var(--border-color);
    margin-right: 0;
    padding: 5px 10px;
}

.second-line {
    transition: var(--transition-1);

}

.active-line {
    width: 20px !important;
}

.menu .dropdown ul li a,
.menu-side .navigation .submenu ul li a {
    display: block;
    width: 100%;
    color: var(--black);
    text-transform: capitalize;
    padding: 0 !important;

}

.menu-side .navigation li {
    margin-bottom: 10px;
}

.menu .dropdown ul li:hover a,
.menu .submenu ul li:hover a {
    color: var(--orange);
}

.menu-side .menu div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

header .right-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-area .languages ul {
    display: flex;
    align-items: center;
}

.right-area .languages ul li {
    margin-left: 20px;
}

.right-area .languages ul li img {
    cursor: pointer;
}

.search-button {
    margin-bottom: 10px;
}

.search-button button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    opacity: .7;
    transition: var(--transition-1);
}

.search-button:hover button {
    color: var(--white);
    opacity: 1;
}

.search-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    transform: translateY(-10000px);
    transition: var(--transition-1);
    z-index: 4;
    overflow-y: scroll;
}

.search-area form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search-area form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    width: 40%;
    outline: none;
    color: var(--white);
    font-size: var(--fs-2);
}

.search-area form input::placeholder {
    color: var(--white);
    text-align: center;
    font-size: var(--fs-2);
}

.search-area p {
    color: var(--white);
    text-align: center;
    margin-top: 130px
}

.search-area .filtered-products {
    margin-top: 50px;
}

.search-area .recommend-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-area .header {
    text-align: center;
    color: var(--white);
}

.search-area .product {
    margin: 30px 15px;
    box-shadow: var(--box-shadow-1);
    padding: 20px;
    border-radius: var(--border-radius);
    overflow-x: hidden;
    position: relative;
    background-color: var(--white);
}

header .de-active-filtered-products {
    display: none;
}

.search-area .product .img img {
    transition: var(--transition-1);
}

.search-area .product .img:hover img {
    transform: scale(1.1);
}

.search-area .product .description-area {
    margin-top: 10px;
}

.search-area .product .product-name {
    font-size: var(--fs-5);
    color: var(--orange);
    font-weight: 600;
}

.search-area .product .discount-value {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
    background: var(--orange);
    color: white;
    padding: 5px;
    border-top-left-radius: 106px;
    border-bottom-left-radius: 106px;
}


@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.search-area i {
    position: absolute;
    top: var(--fs-3);
    right: var(--fs-3);
    transition: var(--transition-1);
    color: var(--white);
    cursor: pointer;
}

.search-area i:hover {
    animation: rotate .6s forwards;
}

.active-search-area {
    transform: translateY(0);
}

.burger-menu .line {
    height: 2px;
    width: 27px;
    background-color: var(--white);
    opacity: .7;
    margin: 4px 0;
}

.active-menu {
    transform: translateX(0) !important;
}


.menu-side {
    background-color: var(--white);
    position: fixed;
    z-index: 33 !important;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-600px);
    transition: var(--transition-1);
    width: 75%;
    box-shadow: var(--box-shadow-1);
}


.menu-side .close-icon {
    margin-left: 92px;
}

.menu-side .navigation {
    padding-top: 20px;
}

ul {
    padding: 0;
}

.menu-side .navigation li:not(.menu) {
    padding-left: 20px;
}

.menu-side .navigation .menu div:first-child {
    padding-left: 20px;
    padding-right: 33px;
}

.menu-side .navigation .submenu {
    background-color: #d7d7d742;
}

.menu-side .row {
    padding: 20px;
}


footer {
    padding-block: var(--section-padding);
    border-top: 1px solid var(--border-color);
    background-color: var(--main-color);
    font-family: var(--oswald);
}

.social-links {
    display: flex;
    align-items: center;
}

footer .text {
    color: var(--white);
    opacity: .7;
    margin: 15px 0;
    text-align: justify;
}

.social-links li {
    margin-right: 20px;
}

.social-links li:hover i {
    color: var(--orange);
    opacity: 1;
}

footer .social-links li i {
    color: var(--white);
    opacity: .7;
    cursor: pointer;
    transition: var(--transition-1);
}

footer .text-title {
    color: var(--orange);
    font-size: var(--fs-7);
    font-weight: 700;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

footer .text-title::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 1px;
    background-color: var(--orange);
    top: 120%;
    left: 44%;
}

footer .quick-links {
    margin-top: 20px;
}

footer .quick-links li {
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-1);
}

footer .quick-links li:hover a {
    color: var(--orange);
    opacity: 1;
}

footer .quick-links li a {
    color: var(--white);
    opacity: .7;
    line-height: 1.8;
}

footer form {
    margin: 30px 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--border-radius);

}

footer form input {
    width: 80%;
    border: none;
    outline: none;
    height: 45px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

footer form button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    height: 45px;
    width: 20%;
    transition: var(--transition-1);
}

footer form button i {
    transition: var(--transition-1);
}

footer form button:hover {
    background-color: var(--orange);
}

footer form button:hover i {
    color: var(--main-color);
}

footer form button i {
    color: var(--orange);
}

.contact-area {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--white);
    opacity: .7;
    margin-top: 10px;
    transition: var(--transition-1);
}

.contact-area:hover,
.contact-area:hover .content {
    color: var(--orange);
    opacity: 1;
}

.contact-area .content {
    font-size: var(--fs-7);
    margin-left: 10px;
    color: var(--white);
    opacity: .7;
}

.menu-side .contact-area,
.menu-side .contact-area .content {
    color: var(--main-color);
    opacity: 1;
    font-size: var(--fs-1);
    justify-content: start;
    margin-left: 20px;
}

footer .copyright {
    border-top: 1px solid var(--border-color);
    text-align: center;
    margin-top: 70px;
    color: var(--white);
    opacity: .7;
}

footer .copyright p {
    margin-top: 10px;
}

@media (max-width:576px) {
    footer .text-title {
        text-align: left !important;
    }

    footer .quick-links li {
        justify-content: left;
    }

    footer .text-title::after {
        left: 0 !important;
    }
}

@media (min-width:768px) and (max-width:1180px) {
    header .navbar-area ul li {
        margin-right: 30px;
    }
}


@media (min-width:768px) and (max-width:1024px) {
    header .navbar-area ul li {
        margin-right: 8px;
    }

    .navbar-area ul {
        margin-left: 47px;
        justify-content: space-around;

    }
}