.area .codes .container-content {
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 4px;
}

.area .title {
    font-weight: 600;
    font-size: var(--fs-1);
}

#products-area .list-view .area,
#single-product .area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    border-radius: 4px;
}

#single-product .product-name {
    font-size: var(--fs-9);
    color: var(--orange);
    font-weight: 600;
}

.price-area {
    font-size: var(--fs-7);
}

.price-area .currency {
    margin-left: -4px;
    font-size: var(--fs-1);
}

.price-area .discount-value {
    font-size: larger;
    color: red;
}


.area .codes {
    margin-left: 10px;
}

.area.contents {
    width: 30%;
}

.area .content {
    cursor: pointer;
}

.area .content p {
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0000003b;
    border-radius: 4px;
    transition: var(--transition-1);
    margin-bottom: 15px;
}
.area .content:hover p {
    border-color: var(--orange);
}
.area.contents .title{
    margin-bottom: 10px;
}